<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body id="corpo" data-usr="{{ usr }}">
    <h1>Usuário</h1>
    <p>Ver <a href="{{ url_for('index') }}">home</a></p>
    <p id="usr_id">{{ usr.id }}</p>
    <p id="usr_nome">{{ usr.nome }}</p>

    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>